@{
    ViewData["Title"] = "Add Note";
}

@model NoteBook.Models.Note

<form id="login-form" asp-action="Create" asp-controller="Notes" method="post">

    <h2>Add Note</h2>

    <div class="form-group">
        <input asp-for="Title" placeholder="Title" />
    </div>

    <br />

    <div class="form-group">
        <textarea asp-for="Content" placeholder="Content"></textarea>
    </div>

    <div class="butn">
        <button type="submit" class="btn btn-primary mt-4">Save Note</button>
        <a asp-action="List" class="btn btn-secondary mt-4">Cancel</a>
    </div>

</form>