@{
    ViewData["Title"] = "Edit Page";
}

@model NoteBook.Models.Note

<form id="login-form" asp-action="Edit" asp-controller="Notes" method="post">

    <h2>Edit Note</h2>

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <input asp-for="Title" placeholder="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <textarea asp-for="Content" placeholder="Content"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="UserId" />

    <div class="butn">
        <input type="submit" value="Save" class="btn btn-primary mt-4" />
        <a asp-action="List" class="btn btn-secondary mt-4">Cancel</a>
    </div>

</form>