@{
    ViewData["Title"] = "Index Page";
}

<div class="login-form">

    <h5>Login or register for your notes</h5>

    <div class="buton-index">
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-block mt-4">Login</a>
        <a asp-controller="Account" asp-action="Register" class="btn btn-danger btn-block mt-4">Register</a>
    </div>

</div>